body{
	background: #f7f7f7;	
	font-family: verdana;
	font-size: 12px;
	align-content: center;
	width: 1000px;

}

.avatar{
	max-width: 100px;
}

#title, .subtitle, .posttitle{
	color: #505050;
}

#title{
	text-decoration: uppercase;
}

a{	
	color: #505050;
}

.posttitle{
	font-size: 16px;
	font-style: italic;
	margin: 0px;
	margin-bottom: 15px;
}

.post{
	background: white;
	padding: 15px;
	border: 0px solid #505050
	margin-bottom: : 15px;
	max-width: 800px;
}

.postcontent{
	margin: 0;
	margin-bottom: 15px;
	border-radius: 10px;
	text-transform: capitalize;	
}

.postimg{
	margin-bottom: 15px;
	max-width: 500px;
}

footer{
	align-content: center;	
}

#copy{
	margin-top: 15px;
	align-content: center;
	font-size: 12px;
	font-weight: bold;
}

.list{
	columns: 3;		
	font-size: 14px;
	font-color: #000;	
	align-content: center;
}

